aiohttp
anitopy
apscheduler
aria2p
country-converter
emoji-country-flag
feedparser
html-telegraph-poster
humanize
kurigram
lxml[html_clean]
psutil
pycountry
pymediainfo
pymongo[srv]
python-decouple
qbittorrent-api
quote
random_word
telethon==1.38
tgcrypto
tzlocal
yt-dlp
certifi>=2025.4.26
dnspython>=2.7.0
requests>=2.32.4
setuptools>=80.9.0
